.block_about{
    width: 2000px;
    border: 1px solid black;


    .info_1{
        max-width: 1067px;
        // height: 192px;
        width:1067px;
        margin: auto;
       
    
    }
    width: 2000px;
    background-color: #fff;
    .about{
    background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
    background-clip: text;
    color: #3677fd;
    font-family: Lato;
   text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 35.12px;
}
.info_2{
  
text-align: center;
color: #5a5a5a;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 35px;
}
}

