#start{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1.5;
    }
    
    font-family: 'Lato', sans-serif;
    
    .fixhead{
        position: fixed;
        z-index: 3;
        width: 100%;
        background-color: #194277;
        &__box{
            max-width: 1170px;
            height: 71px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p{
            display: block;
            color: #fff;
            font-size: 14px;
            margin-right: 50px;
        }
        
        button{
            width: 112px;
            height: 30px;
            background-color: #fff;
            border-radius: 30px;
            font-weight: bold;
            font-size: 15px;
            color: #194277;
        }
    }

    .block__header{
        padding-top: 71px;
        background: url(../img/bg_header.jpg) center / cover;
        height: 871px;
        color: #fff;
        width: 100%;
        .header{
            max-width: 1170px;
            margin: 0 auto;
            padding-top: 30px;
        
            .burger-menu{
                .header__burger{
                    display: block;
                    position: relative;
                    height: 40px;
                                    
                    #check-menu{
                        display: none;
                    }

                    label{
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 45px;
                        height: 100%;
                        cursor: pointer;
                        z-index: 2;
                    }
               
                    .burger-line{
                        position: absolute;
                        top: 25%;
                        right: 17px;
                        width: 25px;
                        height: 2px;
                        background-color: #fff;
                        transition: .5s all;
                    }
                
                    .second, .third{
                        top: 50%;
                    }
                
                    .fourth{
                        top: 75%;
                    }
                
                    .main-menu{
                        display: block;
                        position: absolute;
                        max-width: 1170px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        transform: translateY(93%);
                        height: 0;
                        font-size: 0;
                        overflow: hidden;
                        transition: .5s all;
                        background-color: #fff;
                        border-radius: 10px;

                        a:first-child{
                            margin-top: 90px;
                        }
                    
                        .menu__link{
                            display: block;
                            width: 100%;
                            padding: 10px;
                            text-decoration: none;
                            color: #d2d2d2;
                            text-align: center;
                            font-weight: 300;
                            font-size: 50px;
                        }
                        a:hover{
                            color: #3677fd;
                        }

                        hr{
                            border: 1px solid #d1d9e4;
                            width: 100%;
                            max-width: 400px;
                            margin: 70px auto;
                        }
                        .social{
                            margin: 0 auto;
                            max-width: 360px;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            svg{
                                width: 50px;
                                height: 50px;
                                fill: #e1e1e1;
                                transition: 0.5 all ease-in-out;
                            }
                            svg:hover{
                                fill:#367cfd  
                            }
                        }
                        .language{
                            p{
                                color:#d2d2d2;
                                font-size: 16px;
                                text-align: end;
                                margin-right: 24px;
                                img{
                                    transform: translateY(25%);
                                    margin-left: 14px;
                                }
                            }
                        }
                    }
                    
                    #check-menu:checked ~ .main-menu{
                        font-size: 16px;
                        height: 700px;
                        
                    }
                
                    #check-menu:checked ~ .first{
                        display: none;
                    }
                
                    #check-menu:checked ~ .second{
                        transform: rotate(45deg);
                        background-color: #3687fe;
                        z-index: 2;
                    }
                
                    #check-menu:checked ~ .third{
                        transform: rotate(-45deg);
                        background-color: #3687fe;
                        z-index: 2;
                    }
                
                    #check-menu:checked ~ .fourth{
                        display: none;
                    }
                   
                }
            }
        
            &__logo{
                margin-top: 40px;
                text-align: center;
                margin-bottom: 57px;
            }

            &__title{
            font-weight: 900;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 46px;
            }

            &__subtitle{
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 45px;
            }

            &__btn{
            background-color: #fff;
            color: #3695ff;
            font-weight: bold;
            font-size: 16px;
            width: 206px;
            height: 56px;
            border-radius: 30px;
            margin: 0 auto;
            display: block;
            }
        }
    }
}
