// color
$color2-yellow:#ffcc00;
$color1-grey:#666666;
$color_gallery: #262626; 

// fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
// border
$border-c: 1px solid red;