#latest-works {
    padding-bottom: 191px;
    h2.h2_latest {
        font-size: 50px;
        font-weight: 300;
        color: #3677fd;
        text-align: center;
        padding-bottom: 104px;
        padding-top: 91px;
    }
    .box_latest-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 54px;
    }
    .box_latest-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
